@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter", system-ui, sans-serif;
  }
}

@layer components {
  .container-tab {
    @apply px-5 py-8 2xl:px-12 2xl:py-12;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* backgrounds colors */
  --primary-color: #ffffff;

  /* buttons colors */
  --btn-primary-color: #86A0FF;
  --btn-secondary-color: #d4d9ff;

  /* font style */
  --primary-font: "Inter", sans-serif;

  /* text colors */
  --primary-text-color: #383838;
  --secondary-text-color: #737373;
}

h1,
h2 {
  font-family: var(--primary-font);
}

h1 {
  color: var(--primary-text-color);
}

h2 {
  color: var(--secondary-text-color);
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

h3 {
  color: var(--secondary-text-color);
}
